In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy as syp

In [7]:
sentiment_csv = pd.read_csv("Files/apple_sentiments.csv")
price_csv = pd.read_csv("Files/AAPL.csv")

In [38]:
# Grouping table to find dates
grouped_by_date = sentiment_csv.groupby("Date")
date = list(grouped_by_date.groups.keys())

#Company Name for each row
company_name = []
for x in range(len(date)):
     company_name.append(sentiment_csv["Company"][x])

#Average SEntiment
avr_sentiment = list(grouped_by_date["Sentiment"].mean())

#Number of articles
num_articles = list(grouped_by_date["Headline"].count())


#NEgative Counts
neg_counts = sentiment_csv.loc[sentiment_csv["Sentiment"]<0].groupby("Date").count()
neg_news_count = list(neg_counts["Sentiment"])

#Positive Counts

pos_counts = sentiment_csv.loc[sentiment_csv["Sentiment"]>0].groupby("Date").count()
pos_news_count = list(pos_counts["Sentiment"])

#Neutral Counts
neut_counts =[num_articles[x]-(pos_news_count[x]+neg_news_count[x]) for x in range(len(date))]

#Change on Day
cod_price = price_csv["Percent Change"]

In [39]:
master_df = pd.DataFrame({"Date":date, "Company": company_name, "Num_aticles":num_articles,"Neg_article_count":neg_news_count, "Pos_article_count":pos_news_count,"Neut_article_count": neut_counts, "COD_Price":cod_price, "Avr sentiment": avr_sentiment})
master_df.head()

,Date,Company,Num_aticles,Neg_article_count,Pos_article_count,Neut_article_count,COD_Price,Avr sentiment
0,2018-12-19,Apple,24,13,10,1,-0.931,-0.573610
1,2018-12-20,Apple,27,11,16,0,1.299,0.345880
2,2018-12-21,Apple,25,9,13,3,-3.119,-0.311161
3,2018-12-24,Apple,16,7,5,4,-2.523,-0.296215
4,2018-12-26,Apple,13,7,6,0,-3.890,0.213085

In [41]:
master_df.describe()

,Num_aticles,Neg_article_count,Pos_article_count,Neut_article_count,COD_Price,Avr sentiment
count,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000
mean,15.904762,6.761905,7.523810,1.619048,-0.258762,-0.235132
std,4.721279,2.964874,3.696201,1.203170,3.339550,0.819599
min,11.000000,1.000000,1.000000,0.000000,-9.961000,-2.400201
25%,13.000000,6.000000,5.000000,1.000000,-1.504000,-0.340003
50%,14.000000,6.000000,6.000000,2.000000,0.051000,-0.134264
75%,18.000000,7.000000,10.000000,2.000000,1.299000,0.103049
max,27.000000,13.000000,16.000000,4.000000,7.042000,1.614513