In [1]:
import requests
from config import news_key
from newsapi import NewsApiClient
import json
import pandas as pd
from datetime import datetime, timedelta

In [2]:
dates = []
for x in range(31):
    dates.append(datetime.now() - timedelta(days=x))

print(str(dates[30])[:10])

2018-12-15

In [13]:
# Init
newsapi = NewsApiClient(api_key=news_key)

# We looped throught 50 pages of amazon related articles to read headline, time, and description.
amazon = []
date = []
description = []
for x in range(1,50):
    amazon_articles = newsapi.get_everything(q='amazon',
                                      from_param= str(dates[28])[:10],
                                      to=str(dates[0])[:10],
                                      language='en',
                                      sort_by='relevancy', page=x)
    
    for i in range(len(amazon_articles["articles"])):
        amazon.append(amazon_articles["articles"][i]["title"])
        date.append(amazon_articles["articles"][i]["publishedAt"])
        description.append(amazon_articles["articles"][i]["description"])

,Company,PublishedAt,Description
0,'Luke Cage' showrunner jumps ship for Amazon,2018-12-23T21:10:00Z,Netflix's decision to scrap Luke Cage (among o...
1,Amazon Alexa suffers Christmas outage in Europe,2018-12-26T13:05:00Z,It seems Amazon's Black Friday and Cyber Monda...
2,Amazon Prime's Promise of Two-Day Delivery Is ...,2018-12-21T15:00:00Z,Photo: Leon Neal/Getty Images Having a baby in...
3,Amazon Air expands with 10 more cargo aircraft...,2018-12-21T15:05:57Z,Days after FedEx CEO Frederick Smith dismissed...
4,Amazon revisits Lorena Bobbitt’s trial in new ...,2019-01-09T10:12:00Z,"Last year, Amazon greenlit a Jordan Peele-prod..."

In [16]:
# We removed time stamp from PublishedAT column
published_date = []

for x in range(len(date)):
    published_date.append(date[x][:10])

In [65]:
df = pd.DataFrame({"Company":amazon, "PublishedAt":published_date, "Description":description})
df.head()

,Company,PublishedAt,Description
0,'Luke Cage' showrunner jumps ship for Amazon,2018-12-23,Netflix's decision to scrap Luke Cage (among o...
1,Amazon Alexa suffers Christmas outage in Europe,2018-12-26,It seems Amazon's Black Friday and Cyber Monda...
2,Amazon Prime's Promise of Two-Day Delivery Is ...,2018-12-21,Photo: Leon Neal/Getty Images Having a baby in...
3,Amazon Air expands with 10 more cargo aircraft...,2018-12-21,Days after FedEx CEO Frederick Smith dismissed...
4,Amazon revisits Lorena Bobbitt’s trial in new ...,2019-01-09,"Last year, Amazon greenlit a Jordan Peele-prod..."

In [51]:
#create bins for the different age groups

# bins =  [str(dates[30-2])[:10],str(dates[30-7])[:10],str(dates[30-14])[:10],str(dates[30-21])[:10],str(dates[30-28])[:10]]
# weeks = ['w1','w2','w3','w4']
# data1 = df["PublishedAt"]
# # #Add the column to our data
# df["Weeks"] = pd.cut(, bins, labels=weeks)

# diff_weeks = df.groupby("Weeks").SN.unique()

In [59]:
day = str(dates[30])[:10]

'2018-12-15'

dtype('O')

In [69]:
week1 = df.loc[df["PublishedAt"]=="2018-12-15"]

In [70]:
week1

Empty DataFrame
Columns: [Company, PublishedAt, Description]
Index: []